<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Python Web Project V1</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/Webproject.css">
    <style>
        #main {height: 500px}
        form{/*border : 1px solid red;*/ width: 500px ;margin:150px auto }

        /* 회원가입 폼요소에 여백 주기 */
        form div {margin-top :12px}
        /* 회원가입 폼 라벨에 너비 설정 */
        /* display 인라인요소를 블록요소로 변경 */
        form label {display : inline-block ;width: 120px; text-align: right; font-weight: bold}
        /* 회원가입 폼 버튼 위치 설정 */
        form button:first-child { margin-left : 122px }



    </style>
</head>

<body>
<div id="wrap">
    <header>
        <h1>Python Web Project V1</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="join.html">회원가입</a></li>
                <li><a href="login.html">로그인</a></li>
                <li><a href="board.html">게시판</a></li>
                <li><a href="myinfo.html">회원정보</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <div id="main">
            <h2>회원가입</h2>
        <form name="joinform" method="post" action="join.do" >
            <div><label for="userid">아이디</label><input type="text" name="userid" id="userid" required></div>
            <div><label for="passwd">비밀번호</label><input type="password" name="passwd" id="passwd" required></div>
            <div><label for="passwdret">비밀번호 확인</label><input type="password" name="passwdret" id="passwdret" required></div>
            <div><label for="name">이름</label><input type="text" name="name" id="name" ></div>
            <div><label for="email">이메일</label><input type="email" name="email" id="email"></div>



            <div><!--<label></label>-->
                <button type="submit">입력완료</button>
                <button type="reset">다시입력</button>
            </div>
        </form>
    </div>
    <footer><hr>
        <span>copyright &copy; 2022. smwdmsqha. All Right Reserved</span>
    </footer>
</div>
</body>

</html>
