{% extends 'layout/base.html' %}

{% comment %}

HTTP의 특징 중 하나는 stateless(connectionless)임. 즉, 클라이언트가 서버에 요청을 보내고 서버가 응답을 하면
클라이언트는 그 응답을 받자마자 연결이 끊어진다는 의미. 왜냐하면 웹서버는 다수의 사용자가 정보를 요청하는 경우가 많기 때문에
사용자와의 연결을 유지한다면 서버의 리소스가 만힝 필요할 수 있음. 따라서 HTTP의 경우 서버가 응답하고 나면 바로 연결을 끊는 이유임

stateless를 보완하기 위한 기술

1. cookie
클라이언트측 웹브라우저에 저장하는 데이터. 브라우저 종료시 쿠키가 만료됨

2. session
서버측에 저장하는 데이터. 세션 생성시 고유id를 같이 생성하는데 이를 통해 서버에 접속하는 사용자들을 구별할 수 있다
세션을 만료하려면 서버에서 직접 제거해야 함

{% endcomment %}

{% block title %}member/login {% endblock %}

{% block style %}
        #main {height: 500px}
        /* 로그인 폼 배치하기 */
        form{border : 1px  ; width: 600px ;margin:150px auto}
        form div {margin-top :12px}
        form label {display : inline-block ;width:200px; text-align: right; font-weight: bold; }
        form button:first-child { margin-left : 200px }

        ul { list-style: none; padding: 0 }
        ul li { display: inline-block;
        margin-left: 155px }

        a{font-weight: bold}
        a:link{text-decoration: none; color:black}
        a:visited{text-decoration: none; color:black}
        a:hover{text-decoration: underline; color: plum}
        a:active{text-decoration: underline; color: plum}
        hr {background :black; height: 1px}


{% endblock %}

{% block content %}

    <div id="main">
        <h2>로그인</h2>
        <form name="loginform" id='loginfrm' method="post" >
            {% csrf_token %}
            <div style="color:darkturquoise">{{ error }}</div>
            <div><label for="userid">아이디</label><input type="text" name="userid" id="userid" ></div>
            <div><label for="passwd">비밀번호</label><input type="password" name="passwd" id="passwd"></div>

             <div>
                <button type="button" id="loginbtn">로그인</button>
             </div>

        </form>
    </div>
{% endblock %}

{% block jscript %}
    <script>
        const loginbtn = document.querySelector('#loginbtn')
        loginbtn.addEventListener('click',()=>{
            const userid = document.loginform.userid
            const passwd = document.loginform.passwd
            if(userid.value==''){
                alert('아이디를 입력하세요'); userid.focus()
                return}
            else if (passwd.value==''){
                alert('비밀번호를 입력하세요'); passwd.focus()
                return}
            //버튼으로 submit 기능을 수행
                else {document.loginform.submit()}})
    </script>




{% endblock %}