<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Python Web Project V1</title>
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/Webproject.css">
    <style>
        #main {height: 500px}
        /* 로그인한 회원의 정보 테이블 배치 */
        table { text-align: left; width:400px; font-size : 20px; margin:auto;
                margin-top: 160px}
        /* 회원 정보 각 행에 여백 주기 */
        th,td{padding :7px}

    </style>
</head>
<body>
<div id="wrap">
    <header>
        <h1>Python Web Project V1</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="join.html">회원가입</a></li>
                <li><a href="login.html">로그인</a></li>
                <li><a href="board.html">게시판</a></li>
                <li><a href="myinfo.html">회원정보</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <div id="main">
        <h2>회원정보</h2>

        <table>
        <tr><th>아이디</th><td>smwdmsqha</td></tr>
        <tr><th>이름</th><td>Justin Breaker</td></tr>
        <tr><th>이메일</th><td>smwdmsqha@gmail.com</td></tr>
        <tr><th>가입일</th><td>2022-03-02 12:05:11</td></tr>

        </table>
    </div>
    <footer><hr>
        <span>copyright &copy; 2022. smwdmsqha. All Right Reserved</span>
    </footer>
</div>
</body>
</html>


