{% extends 'layout/base.html' %}
{% block title %}member/myinfo {% endblock %}
    {% block style %}
        #main {height: 500px}
        /* 로그인한 회원의 정보 테이블 배치 */
        table { text-align: left; width:400px; font-size : 20px; margin:auto;
                margin-top: 160px}
        /* 회원 정보 각 행에 여백 주기 */
        th,td{padding :7px}

        ul { list-style: none; padding: 0 }
        ul li { display: inline-block;
        margin-left: 155px }

        a{font-weight: bold}
        a:link{text-decoration: none; color:black}
        a:visited{text-decoration: none; color:black}
        a:hover{text-decoration: underline; color: plum}
        a:active{text-decoration: underline; color: plum}
        hr {background :black; height: 1px}


    {% endblock %}
    {% block content %}

    {# 만약 로그인되어있지 않으면 회원정보 페이지 대신 로그인 페이지를 출력#}
    {% if not request.session.userid %}
    <script>
        alert('로그인해주세요')
        location.href='/login'
    </script>
    {% endif %}
    <div id="main">
        <h2>회원정보</h2>

        <table>
        <tr><th>아이디</th><td>{{ member.userid }}</td></tr>
        <tr><th>이름</th><td>{{ member.name }}</td></tr>
        <tr><th>이메일</th><td>{{ member.email }}</td></tr>
        <tr><th>가입일</th><td>{{member.regdate}}</td></tr>

        </table>
    </div>
{% endblock %}

{% block jscript %}{% endblock %}