a{font-weight: bold}
a:link{text-decoration: none; color:black}
a:visited{text-decoration: none; color:black}
a:hover{text-decoration: underline; color: plum}
a:active{text-decoration: underline; color: plum}

/* 컨텐츠 영역 너비 지정 및 정중앙 배치 */
#wrap{width : 1250px; margin:0 auto}

/* 저작권 문구 가운데 정렬 */
footer span {display: block; text-align: center}

#main {height: 500px}

/* 상단 로고 배치 */
header h1{margin-bottom: 50px}

/* 상단메뉴 수평 배치 */
nav li{display: inline-block; width: 200px; text-align: center}

 /* 구분선 */
hr {background :black; height: 1px}