{% extends 'layout/base.html' %}
{% block title %}list {% endblock %}

{% block style %}
        #main {height: 500px}
        /* 링크관련 스타일시트 */
        a{font-weight: bold}
        a:link{text-decoration: none; color:black}
        a:visited{text-decoration: none; color:black}
        a:hover{text-decoration: underline; color: plum}
        a:active{text-decoration: underline; color: plum}

        table{width : 60% ; margin : 45px auto -10px; border-collapse: collapse;}
        td:nth-child(2) {white-space: nowrap; overflow: hidden; text-overflow: ellipsis}
        td:nth-child(2) a:hover{ color : steelblue }
        td:nth-child(2) a:active{ color : #FFFF00 }
        tr:first-child td{text-align: right; border:none}
        th, td {border : 1px solid black; padding: 10px;}
        td {text-align: center }
        tr{height: 30px}

        #pgnav li {margin-left :10px; }
        #pgnav {text-align: center; margin-left:-100px;}
        .cpage {font-weight: bold; font-size:50px; color:red}

        ul { list-style: none; padding: 0 }
        ul li { display: inline-block;
        margin-left: 155px }

        /* 저작권 문구 가운데 정렬 */
        footer span {display: block; text-align: center}

        /* 구분선 */
        hr {background :black; height: 1px}
{% endblock %}

{% block content %}
    <h2>게시판</h2>
        <table id="board">

            <tr><td colspan="5" class="btns"><button type="button" onclick="location.href='/write'">새글쓰기</button></td></tr>
            <tr><td>번호</td><td>제목</td><td>작성자</td><td>작성일</td><td>조회</td></tr>

        {% for b in bds%}
            <tr>
                <td>{{ b.id }}</td>
                <td><a href='/view?bno={{ b.id }}'{{ 1 }}>{{ b.title }}</a></td>
                <td>{{ b.userid }}</td>
                <td>{{ b.regdate|date:'Y-m-d' }}</td>
                <td>{{ b.views }}</td
                ></tr>
        {% endfor %}

        </table>

        <ul id="pgnav">
                <li>이전</li>
                <li class="cpage">1</li><li>2</li>
                <li>3</li><li>4</li>
                <li>5</li><li>6</li>
                <li>다음</li>
        </ul>

     <footer><hr>
        <span>copyright &copy; 2022. smwdmsqha. All Right Reserved</span>
    </footer>
{% endblock %}

{% block jscript %}{% endblock %}