{% extends 'layout/base.html' %}
{% block title %}index {% endblock %}

{% block style %}
        #main {height: 500px}
        /* 링크관련 스타일시트 */
        a{font-weight: bold}
        a:link{text-decoration: none; color:black}
        a:visited{text-decoration: none; color:black}
        a:hover{text-decoration: underline; color: plum}
        a:active{text-decoration: underline; color: plum}

        ul { list-style: none; padding: 0 }
        ul li { display: inline-block;
        margin-left: 155px }

        table {width: 60% ;margin :65px auto -10px;}
        table tr {padding :10px}
        th:first-child {width: 15%}
        tr:nth-child(4) th {vertical-align : top}
        tr:nth-child(4) td {border : 1px solid orange; height:300px; vertical-align: top}
        tr:nth-child(4) div {height: 300px; overflow:auto }

        #bonmun {border : 1px solid orange; width : 70% ; height: 300px; overflow:auto}

        /* 저작권 문구 가운데 정렬 */
        footer span {display: block; text-align: center}

        /* 구분선 */
        hr {background :black; height: 1px}
{% endblock %}

{% block content %}    <div id="main">
        <h2>게시판 본문글</h2>

        <span>제목</span><span>{{bd.title}}</span><br>
        <span>작성자</span><span>{{bd.member.userid}}</span><br>
        <span>작성일</span><span>{{bd.regdate|date:'Y-m-d H:i:s'}}</span><br>
        <span>조회수</span><span>{{bd.views}}</span><br>
        <span>본문 </span><div class="box">{{ bd.contents }}</div><br>

        <tr><td colspan="2">
            <button type="button" onclick="location.href='/list'">목록으로 이동</button>
            <button type="button"><a href="/write">새글쓰기</a></button>
            <button type="button" id="mdfbtn">수정하기</button>
            <button type="button" id="rmvbtn">삭제하기</button></tr>

        <hr>

        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td></td></tr>
        <tr><td>
        </td></tr>

        <form name ='board'><input type="hidden" name ='bno' value = {{ bd.id }}></form>

    </div>
    <footer><hr>
        <span>copyright &copy; 2022. smwdmsqha. All Right Reserved</span>
    </footer>{% endblock %}

{% block jscript %}
    <script>

        const contents = document.querySelector('.box')
        contents.setAttribute('style', 'white-space: pre')
        const bno = document.board.bno.value

        const mdfbtn = document.querySelector('#mdfbtn')
        mdfbtn.addEventListener('click', ()=>{
            if (confirm('정말로 수정하시겠습니까?'))
            location.href='/modify?bno='+bno})

        const rmvbtn = document.querySelector('#rmvbtn')
        rmvbtn.addEventListener('click',()=>{
            if (confirm('정말로 삭제하시겠습니까?')){
                location.href='/remove?bno='+bno }})


    </script>

{% endblock %}