{% extends 'layout/base.html' %}
{% block title %}write{% endblock %}

    {% block style %}

        a{font-weight: bold}
        a:link{text-decoration: none; color:black}
        a:visited{text-decoration: none; color:black}
        a:hover{text-decoration: underline; color: plum}
        a:active{text-decoration: underline; color: plum}
        hr {background :black; height: 1px}

        ul { list-style: none; padding: 0 }
        ul li { display: inline-block;
        margin-left: 155px }

    {% endblock %}

    {% block content %}
     <h2>게시판 새글쓰기</h2>
    <form name="boardfrm" method="post">
    {% csrf_token %}
    {{ error }}
    <div><label for="title">제목</label>
        <input type="text" name="title" id="title"></div>

    <div><label for="title">작성자</label>
        <span>{{userid}}</span></div>

    <div><label for="contents" class="dragup">본문</label>
        <textarea name="contents" id="contents"
            rows="10" cols="50"
            style="resize: none"></textarea></div>

    <div><label></label>
            <button type="button" id="boardbtn">입력완료</button>
            <button type="reset">다시입력</button>
    </div>

    <input type="hidden" name="memberid"
           value="{{ request.session.userid_id }}">
    </form>
{% endblock %}

{% block jscript %}
<script>
    const boardbtn = document.querySelector('#boardbtn')
    boardbtn.addEventListener('click', () => {
        const title = document.boardfrm.title;
        const contents = document.boardfrm.contents;

        if (title.value == '') {
            alert('제목을 작성하세요!');
            title.focus();
            return;
        } else if (contents.value == '') {
            alert('본문을 작성하세요!');
            contents.focus();
            return;
        } else {
            document.boardfrm.submit();
        }
    });
</script>

</script>
{% endblock %}