{% extends 'layout/base.html' %}
{% block title %}write{% endblock %}

    {% block style %}

        a{font-weight: bold}
        a:link{text-decoration: none; color:black}
        a:visited{text-decoration: none; color:black}
        a:hover{text-decoration: underline; color: plum}
        a:active{text-decoration: underline; color: plum}
        hr {background :black; height: 1px}

        ul { list-style: none; padding: 0 }
        ul li { display: inline-block;
        margin-left: 155px }

    {% endblock %}

    {% block content %}
        <h2>새 글 작성하기</h2>
        <form name ="boardform" method="post">

        <div><label>제목</label><input type="text" name="name" id="name"></div>
        <div><label>작성자</label></div>
        <div><label>본문</label></div>

        <div>
        <textarea name="bonmun" id="boardwrite" rows="20" cols="80" style="resize: none"></textarea>
        </div><br>

        <div id="button"><label></label>
            <button type="submit">입력완료</button>
            <button type="reset">다시입력</button>
        </div>

        </form>
{% endblock %}

{% block jscript %}{% endblock %}