<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Python Web Project V1{% endblock %}</title>
    <link rel="stylesheet" href={%static '/css/normalize.css' %}}>
    <link rel="stylesheet" href={%static '/css/Webproject.css' %}}>
    <style>
        {% block style %}{% endblock %}
    </style>
</head>

<body>
<div id="wrap">
   {% include 'layout/header.html' %}
    <div id="main">
        {% block content %}{% endblock %}
    </div>
    {% include 'layout/footer.html' %}

</div>


    {% block jscript %} {% endblock %}
</body>

</html>
